<?xml version="1.0" encoding="UTF-8"?>
<Response>
    <Message>
        <Body>
            <%=body%>
        </Body>
        <% if (this.media) { %>
        <Media>
            <%=media%>
        </Media>
        <% } %>
    </Message>
</Response>
